body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(218, 218, 218);
}

a {
    color: rgb(39, 39, 39);
}

a:hover {
    color: rgb(255, 245, 160);
}

header {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

header h1 {
    font-size: 3em;
}

header nav ul li {
    display: inline;
}

.clear {
    clear: both;
}

#projects, #aboutme {
    margin: 0 auto; /* centers projects div */
    width: 90%; /* adds space on either side */
    max-width: 600px; /* keeps div from getting too wide */
}

.project {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.project img, #aboutme img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 4px solid rgb(5, 5, 5);
}

.project h2, #aboutme h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 5px;
}